* {
	margin:0;
	padding:0;
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#535353;
	background: url(/in_blank/images/siteBackground.jpg);
}
a {
	color:#00adff;
	text-decoration:underline;
}
w{
        font-size:15px;
        color:#00adff;
        font-family:'SimSong';
}
h1 {
	font-size:40px;
	color:#00adff;
	font-family: 'SimSong', sans-serif;
	padding:10px 0 0 0;
}
h3 {
 	font-size:14px;
	font-weight:bold;
	padding:10px 0 10px 0;
	color:#00adff;
}
a:hover {
	font-size:12px;
	color:#2e5d99;
	text-decoration:none;
}
#container { 
	width: 960px; 
	background: white;
	margin: 0 auto;
} 
#header {
	background:url(/in_blank/images/siteBackground.jpg); 
}
.searcharea {
	background:url(/in_blank/images/search2.jpg) no-repeat left top;
	width:288px;
	height:40px;
	border:0;
	color:lightblue;
}
.buttonSearch {
	background:url(/in_blank/images/buttonSearch2.jpg) no-repeat left top;
	width:65px;
	height:30px;
	border:0;
	position:absolute;
	margin:6px 0 0 220px;
	cursor:pointer;
}
.logo {
	float:left;
	font-size:48px;
	font-style:SimonHei;
	color:blue;
	padding:10px 0;
}
.logo span {
	color:blue;
} 
.author {
	font-size:12px;
	color:#a0a0a0;
}
.author a {
	color:#9399a0;
}


#mainContent { 
	margin: 0 0 0 0px;
	background:#f6f7f7;
	padding:5px 20px 20px 20px;
}
.buttonMoreDetails {
	background:#00adff;
	width:94px;
	height:30px;
	border:0;
	color:#ffffff;
	cursor:pointer;
	float:right;
	margin:20px;
} 
.horSeparator {
	border-bottom:1px solid #CCCCCC;
	padding:10px 0;
}
.picContent {
	float:left;
	padding:0 15px 10px 0;
}
h2 {
	font-size:14px;
	font-weight:bold;
	color:#535353;
	padding:10px 0 10px 0;
}
#footer {
	background:lightblue;
	height:82px;	
} 
.footerHeader {
	background:lightblue;
	height:20px;
	width:800px;
	margin:0 auto;
}
.footerBody {
	width:800px;
	margin:0 auto;
}
.copyright {
	float:left;
	color:#535353;
	font-size:11px;
	padding:15px 0 0 0; 
}
.copyright a {
	font-size:11px;
	color:#666b71;
	text-decoration:underline;
}
.copyright a:hover {
	font-size:11px;
	color:#666b71;
	text-decoration:none;
}
.footerIcons {
	float:right;
	padding:14px 0 0 0;
}
.footerIcons img {
	border:0;
}
.footerIcons ul {
	margin:0;
	padding:0;
}
.footerIcons li {
	display:inline;
	list-style:none;
}
.clearfloat { 
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
/*begin main menu*/
#navcontainer {
	float:right;
	padding:30px 0 0 0;
}
#navcontainer ul {
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
}
#navcontainer ul li { 
	display: inline;
	list-style-type: none;
}
ul#navlist {
	margin-left:0;
	padding-left:0;
	white-space: nowrap;
}
#navcontainer ul li a {
	padding: 10px 20px;
	font-size:24px;
	font-family: 'Lobster', sans-serif;
	text-decoration:none;
	color:#677a83;	
	text-shadow: 0px 0px, 1px 1px #ffffff;
}
#navcontainer ul li a:hover {
	color: #fff;
	text-decoration: none;
	text-shadow:none;
	background:#00adff;
	border-radius:10px;
}
/* #navcontainer  #active a {
	background:#00adff;
	color: #fff;
}*/
/*end main menu*/